# =============================================
# SimpleBank
# =============================================
DB_DRIVER=postgres
DB_SOURCE=postgresql://root:secret@localhost:5432/simple_bank?sslmode=disable
HTTP_SERVER_ADDRESS=0.0.0.0:11452
GRPC_SERVER_ADDRESS=0.0.0.0:11453
RABBITMQ_URL=amqp://root:secret@localhost:5672/
REDIS_ADDRESS=0.0.0.0:6379
TOKEN_SYMMETRIC_KEY=12345678901234567890123456789012
ACCESS_TOKEN_DURATION=60m
REFRESH_TOKEN_DURATION=24h
EMAIL_SENDER_NAME=SimpleBank
EMAIL_SENDER_ADDRESS=your-email@example.com
EMAIL_SENDER_PASSWORD=your-email-password
ENVIRONMENT=dev

# =============================================
# Gateway
# =============================================
GATEWAY_PORT=0.0.0.0:8080
TOKEN_SYMMETRIC_KEY=12345678901234567890123456789012
SIMPLEBANK_URL=http://localhost:11452
ESCROW_BOUNTY_URL=http://localhost:8087
USER_PROFILE_URL=http://localhost:8088
PAYMENT_SERVICE_URL=http://localhost:8082

# =============================================
# Escrow-Bounty
# =============================================
DB_SOURCE=postgresql://root:secret@localhost:5433/escrow_db?sslmode=disable
GRPC_SERVER_ADDRESS=0.0.0.0:9097
HTTP_SERVER_ADDRESS=0.0.0.0:8087
SIMPLE_BANK_ADDRESS=localhost:11453
PLATFORM_ESCROW_ACCOUNT_ID=1
TOKEN_SYMMETRIC_KEY=12345678901234567890123456789012
ESCROW_SYSTEM_USERNAME=escrow
USER_PROFILE_SERVICE_ADDRESS=localhost:9098
WS_SERVER_ADDRESS=0.0.0.0:9099
RABBITMQ_URL=amqp://root:secret@localhost:5672/

# =============================================
# User-Profile-Service
# =============================================
DB_SOURCE=postgresql://root:secret@localhost:5433/escrow_db?sslmode=disable
GRPC_SERVER_ADDRESS=0.0.0.0:9098
HTTP_SERVER_ADDRESS=0.0.0.0:8088
TOKEN_SYMMETRIC_KEY=12345678901234567890123456789012
ESCROW_BOUNTY_ADDRESS=localhost:9097
RABBITMQ_URL=amqp://root:secret@localhost:5672/

# =============================================
# Payment-Service
# =============================================
DB_SOURCE=postgresql://root:secret@localhost:5434/payment_db?sslmode=disable
GRPC_SERVER_ADDRESS=0.0.0.0:8083
HTTP_SERVER_ADDRESS=0.0.0.0:8082
SIMPLE_BANK_ADDRESS=localhost:11453
TOKEN_SYMMETRIC_KEY=12345678901234567890123456789012
ESCROW_SYSTEM_USERNAME=escrow
PLATFORM_ESCROW_ACCOUNT_ID=3
GATEWAY_URL=http://localhost:8080
RABBITMQ_URL=amqp://root:secret@localhost:5672/
APP_ID=your-alipay-app-id
APP_PRIVATE_KEY=your-alipay-private-key
ALIPAY_PUBLIC_KEY=your-alipay-public-key
WEBHOOK_BASE_URL=https://your-public-url.ngrok-free.dev
FRONTEND_BASE_URL=http://localhost:9000
